*{
    padding: 0px;
    margin: 0;
}
.color
{
    width: 100%;
    text-align: center;
}
.quantity
{
    width: 100%;
    text-align: center;
}
.row-content
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-img
{
    position: relative;
    border: 1px solid #dddddd;
    padding-top: 15px;
}
.img-responsive
{
    width: 100%;
}
.list-inline-item img
{
    width: 70px;
}
.head-other
{
    margin-top: 20px;
}
.carousel{
    padding: 10px;
}
.carousel-item
{
    background: #fff;
}
.content-similar
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.similar{
    display:flex;
    align-items: center;
    justify-content: center;
}
.similar img
{
    margin-left: 40px;
}