*{
    padding: 0px;
    margin: 0;
}
.color
{
    width: 100%;
    text-align: center;
}
.quantity
{
    width: 100%;
    text-align: center;
}
.row-content
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-img
{
    position: relative;
    border: 1px solid #dddddd;
    padding-top: 15px;
}
.img-responsive
{
    width: 100%;
}
.list-inline-item img
{
    width: 70px;
}
.head-other
{
    margin-top: 20px;
}
.carousel{
     padding: 10px;
     margin-bottom: 20px;
}
.title-similar
{
    width: 100%;
    padding: 30px 70px 30px 70px;
    margin-top: 30px;
    font-size: 25px;
}
.content-similar
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.similar{
    display:flex;
    align-items: center;
    justify-content: center;
}
.similar-title{
    
    padding: 0 5px 0 5px;
    margin: 10px 0 0 0;
}
.similar .card
{
    border: none;
    background: #fff;
    width:150px;
    margin-right: 20px;
}
.similar .form-group-lg a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}
.footer-similar
{
    background-color: #fff;
}
.card-footer{
    height: 90px;
}




@media (max-width:762px) {

    .carousel{
        padding: 10px;
        margin-bottom: 20px;
        background-color: #fff;
   }
   .carousel-item
   {
       padding-left: 20px;
   }
    .similar{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .title-similar
    {
        font-size: 1em;
        margin: 0;
        padding: 20px 10px 0 10px;
    }
    .similar-title{
      font-size: 1em;
      padding: 0;
    }
    .similar .card
    {
       border: none;
       margin: 0 25px 30px 0;
       padding: 0;
       width: 100px;
    }
    .similar .card img
    {
        width: 120px;
    }
    .footer-similar
    {
        background-color: #fff;
    }
    .similar .form-group-lg a{
      font-size: 0.60em;
    }
    .card-footer{
      padding: 0;
      margin: 0;
      height: 60px;
      text-align: center;
    }

    .text-details
    {
       font-size: 10px;
       padding: 10px;
    }
}