.row,
.col{
    padding: 0;
    margin: 0;
}
.container{
    background: #fff;
    padding: 0;
}

body{
    background:#CFD8DC;
}
.icon-status-cart{
    border: 1px solid #fff;
    font-size: 10px;
    vertical-align: super; 
}
 
.header-top{
    background-image: url('/assets/site/img/logo-top.png');
    background-repeat: no-repeat;
    background-size: 100%;
    float: left;
    padding: 20px 0 0 15px;
    min-height: 365px;
    width: 100%;
}
.menu-bar-top{
    float: left;
}

.menu-action{
    position: relative;
    float: right;
}
.menu-bar-bottom{
    background: #212121;
    padding: 15px;
}
.menu-bar-bottom .dropdown-menu{
    margin: 0;
    padding: 0;
    background-color: #212121;
}
.menu-bar-bottom 
.dropdown-menu 
.dropdown-item{

   width: 100%;
   text-align: center;
}

.menu-bar-bottom li{
    text-align: center;
    width: 100px;
}
.menu-bar-bottom li a{
    color: #ffffff !important;
    border-left: 1px solid #424242;
    width: 100%;
}
.menu-bar-bottom li a:hover{
    width: 100px;
    color: #607D8B !important;
}
.separator{
    border:none !important;
}
.logo-desktop{
    float: left;
    width: 300px;
    text-align: center;
}
.logo-desktop p{
    color: #000;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic
}
.logo-desktop img{
    margin:  0 0 0 0;
    width: 200px;
}
.form-search .btn{
    cursor: pointer;
    border: 1px solid #B0BEC5;
}
.form-search .btn:hover{
    background: #00695C;
    cursor: pointer;
}
.card-header{
    background-color: #212121;
}
.card-header span{
    color: #212121;
    font-size: 25px;
    color: #fff;
}

.card-width{
    max-width:200px;
}
.card-block>img{
    transition: 0.5s all;
}
.card-block:hover img{
    opacity: 0.40;
}
.card-block:hover{
    box-shadow:  0 0 3px #424242;
}
.footer-img-content
{
   height: 40px !important;
}
.footer{
    padding: 0;
    margin: 0;
    
}
.links{
    background: #212121;
    padding: 30px;
    width: 100%;
}
.links li{
   text-align: center;
   font-size: 100%;
}
.address{
   font-size: 100%;
   position: relative;
   padding:0;
   margin: 0;

}
.social-d{
    /* border: 1px solid #000 !important; */
    position: relative; 
    float: right;
    font-size: 30px;
    width: 200px;
}
.social-networks{
    background:#424242;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 50px;
    width: 100%;
}
.social-icons{
    color: #E0E0E0;
    font-size: 110%;
    padding:0;
    margin:5px;
}
.social-icons:hover{
    color: #90A4AE;
}

.footer-dev
{
    font-size: 12px;
    padding-top: 5px;
  
}
.footer-dev a .fone-dev
{
    font-size: 12px;
}
.content-footer
{
    background-color: #212121;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 992px) { 
    nav
    {
        padding: 0 !important;
        margin: 0 !important;
    }
    .icon-status-cart{
        border: 1px solid #fff;
        font-size: 10px;
        vertical-align: super;
        margin-left: -10px; 
    }
    .uc-menu{
        margin-right: 10px;
    }
    .uc-menu button{
        margin: 0 0 0 10px;
        padding: 0;
        /* border: 1px solid #ffffff !important; */
    }

    .container-logo{
        width: 100%;
        padding:0;
        margin:0;
    }
    .logo{
        width: 100%;
    }
    .top_logo>img{
        width: 100%;
    } 

    .logo-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
    }
    .logo-mobile img{
        width: 130px;
        padding-top: 10px;
    }
    .logo-mobile a{
        outline: none;
        color: #000;
    }

    .logo-mobile a:hover{
        color: #000;
        text-decoration: none;
    }
    .novidades{
        color: #212121;
        font-size: 25px;
        color: #fff;
     }
    .menu-action{
        position: relative;
        float: right;
    }
    
    .carousel-index
    {
        
        background-image: url('/assets/site/img/product-img/slide/back_slide.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        
    }
    .carousel-img img{
        width: 80%;
     }
   
    .info{
        padding-left:10px;
        padding-top: 10px;
        width: 100%;
    }
    .card-header{
        background-color: #212121;
    }
    .footer-img-content
    {
       height: 40px !important;
    }

    .card-header{
        padding: 5px;
        font-size: 14px;
    }
    .card-subtitle{
        height: 60px;
    }
    .card-subtitle span{
        font-size: 12px;
    }

    .logo-img{
        margin:0;
        padding-left: 15px;
    }
    .form-search{
        /* border:0px solid #fff; */
        padding: 0 0 5px 0;
        margin: 10px 0px 0 0px;
    }
    .menu-bar-bottom{
        background:#212121;
        padding: 0;
    }
    .menu-bar-top{
        background:#424242;
        padding: 10px;
    }
    .menu-bar-top li{
        border-bottom: 1px solid #212121;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }
    .menu-bar-top li:active{
        background-color: #212121;
    }
    .menu-bar-top li a{
        border-left: none;
        color: #ffffff !important;
        outline: none;
    }
    .menu-bar-top li a:hover{
        background: #212121;
        text-align: center;
        width: 100%;
    }
    .menu-bar-top li a:active{
        background: #90A4AE;
        width: 100%;
    }
    .menu-bar-top li .dropdown-item{
       color: #000 !important;
       background-color: #fff;
    }
  
    .btn-menu{
        border: 2px solid #ffffff;
        margin: 10px 20px 10px 20px;
        font-size: 25px;
    }
    .icon-status-cart{
        border: 1px solid #fff;
        font-size: 10px;
        vertical-align: super;
        margin-left: -10px;
    }
  
    .container{
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    .info p{
        font-size: 100%;
    }
    .info span{
        font-size: 90%;
    }
    .btn-det{
        height: 20px;
        background: #212121;
        font-size: 15px;
        padding: 0;
        margin: 0;
    }
   
    .footer{
        float: left;
        position: relative;
        width: 100%;
    }
    .links{
        background: #212121;
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }
   
    .links li{
       text-align:center;
       font-size: 80%;
       /* border: 1px solid #ffffff; */
    }
    .social-networks{
       padding: 0;
       margin: 0;
    }
    .social-icons{
        color: #E0E0E0;
        font-size: 110%;
        padding:0;
        margin:5px;
    }
    .social-icons:hover{
        color: #212121;
    }
    .copyright
    {
        float: none;
        font-size: 75%;
    }
}